#contactenos {

    .container {
        box-shadow: 0 0 6px 1px gray;

        .imagen {
            height: 135px;
            width: 240px;
            border-top-left-radius: 40px;
            border-bottom-right-radius: 40px;
            box-shadow: 0 0 6px 1px gray;
            padding: 20px;

            img {
                
            }
        }

    }

    .formulario {

        .nombre,.mail,.telefono {
            input {
                
                border-left: none;
                border-top: none;
                border-right: none;
                border-bottom: 1px solid gray;
            }
        }

        .nombre {

            &::after {
                content: "\f007";
                font-family: iconos_solid;
                position: absolute;
                top: 40%;
                right: 25px;
            }

            

        }
        
        .mail {
            &::after {
                content: "\f0e0";
                font-family: iconos_solid;
                position: absolute;
                top: 40%;
                right: 25px;
            }

        }

        .telefono {

            &::after {
                content: "\f879";
                font-family: iconos_solid;
                position: absolute;
                top: 40%;
                right: 25px;
            }
        }

      


    }

}