#contactenos {

    z-index: 200;

    .container {
        box-shadow: 0 0 6px 1px gray;
        z-index: 200;
        position: relative;
        background-color: white;

        .imagen {
            height: 135px;
            width: 240px;
            border-top-left-radius: 40px;
            border-bottom-right-radius: 40px;
            box-shadow: 0 0 6px 1px gray;
            padding: 20px;

            img {
                
            }
        }

    }

    .formulario {

        .nombre,.mail,.telefono {
            input {
                
                border-left: none;
                border-top: none;
                border-right: none;
                border-bottom: 1px solid gray;
            }
        }

        .form-control {

            border-radius: inherit;

            &:focus {

                border-bottom-color: $azul;
                box-shadow: none;

            }

        }


        .nombre {

           
            &::after {
                content: "\f007";
                color: $magenta;
                font-family: iconos_solid;
                position: absolute;
                top: 30%;
                right: 25px;

            }

        }

      
        
        .mail {
            &::after {
                content: "\f0e0";
                color: $magenta;
                font-family: iconos_solid;
                position: absolute;
                top: 30%;
                right: 25px;
            }

        }

        .telefono {

            &::after {
                content: "\f879";
                color: $magenta;
                font-family: iconos_solid;
                position: absolute;
                top: 30%;
                right: 25px;
            }
        }

        .texto {

            textarea {
                height: 230px;
            }
        }

        .color_a_contacto {
            color: $azul;

            &:hover {
                color: $magenta;
            }
        }

      


    }

}

#mapa {
    z-index: 100;
    position: relative;
    height:500px;
}

.horario {

    .icono {
        font-size: 35px;
    }

}