.activo2 {
    background-color: $magenta;
}

#caracteristicas_principales {

    .precio {
        background-color: $magenta;
    }

}

#formulario_asesor {


    .imagen_asesor {

        height: 150px;
        width: 200px;

    }


}

@media (max-width:425px){
    #map {
        height:40vh!important;
    }
}

