@font-face {
    font-family: iconos_regular;
    src: url(../fonts/iconos1.otf);
}


@font-face {
    font-family: iconos_solid;
    src: url(../fonts/iconos2.otf);
}


input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
  -webkit-appearance:none;
}
input[type="number"]{
  -moz-appearance:textfield;
}

body {
    font-family: Verdana;
}

a,p,h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

// VARIABLES COLORES
.azul {
    color: $azul;
}

.bg_azul {
    background-color: $azul;
}

.magenta {
    color: $magenta;
}

.bg_magenta {
    background-color: $magenta;
}

.gris {
    color: $gris;
}

.bg_gris {
    background-color: $gris;
}

.blanco {
    color: $blanco;
}

.bg_blanco {
    background-color: $blanco;
}

.negro {
    color: $negro;
}

.bg_negro {
    background-color: $negro;
}
// VARIABLES COLORES


a {
    color: black;
    transition: all 250ms;
    
    &:hover {
        text-decoration: none;
        color: $azul;
    }

}

// BOTONES

.boton1 {
    background-color: $azul;
    color: $blanco;

    &:hover {
        background-color: $magenta;
        color: $blanco;
    }
}

.boton2 {
    background-color: $magenta;
    color: $blanco;

    &:hover {
        background-color: $azul;
        color: $blanco;
    }
}

.boton_footer {

    background-color: transparent;
    color: $blanco;
    border-color: white;

    &:hover {
        background-color: $magenta;
        color: $blanco!important;
        border-color: transparent;
    }
}




// BOTONES


// HEADER
#redes {

    border-bottom: 1px solid #80808059;

    a {
        &:hover {
            color:$magenta;
        }
    }
}

header {

    
    box-shadow: 0 15px 20px 0 #d4628433;
    
    .activo {
        color: $magenta!important;
    }

    a{
        color: black!important;

        &:hover {
            color: $azul!important;
        }
    }

    .imagen_logo {

        height: 115px;
        width: 220px;

    }

    .logopse {
        height: 70px;
        width: 75px;

        &:hover {
            transform: scale(1.1);
        }
    }

}
// HEADER


#carrusel {

    .carousel-inner {
        height: 720px;
    }

    h5 {
        top: 50%;
    }

    img { 
        filter: brightness(0.5);;
    }

}

#boton_minimizar_maximizar {
    bottom: 25px;
    z-index: 500;
    left: calc(50% - 25px);
    border-radius: 50%; 
    background-color: white;
    height: 50px;
    width: 50px;
    cursor: pointer;
    border: 1px solid $azul;
}


#buscador {
    position: absolute;
    left: calc(50% - 570px);
    bottom: 0;
    z-index: 500;       

    .container {
        background-color: $azul;
        transition: all 250ms;
        // top: 188px;
    }
}

#servicios {

    .servicio {

        &:hover {
            
            .contenedor_icono {

                border-color: $blanco;
                background-color: $azul;
                transition: all 250ms;

                .icono{
                    transform: rotate(360deg);
                    color: $blanco;
                }

                &:hover {
                    background-color: $magenta;
                }

            }

            .contenedor_texto {
    
                background-color: $azul;
                color: white;

                a {
                color: $blanco;
                border: 1px solid $blanco;
                background-color: $magenta;
                }
            }

           
               
        }


        .contenedor_icono {

            z-index: 500;
            height: 100px;
            width: 100px;
            border: 1px solid black;
            border-radius: 50%;
            border-color: $azul;
            
            .icono{
                font-size: 50px;
                transition: all 500ms;
            }
        }
    
        .contenedor_texto {
    
            border-top-left-radius: 45px;
            border-bottom-right-radius: 45px;
            top: -50px;
            transition: all 250ms;
    
            h4 {
                margin-top: 65px;
            }

            p {
                max-width: 250px;
            }

            a {
                color: $azul;
                border: 1px solid $azul;
                background-color: transparent;

                &:hover {
                background-color: $azul;
                }
            }


    
    }
   
        
    }

}

#propiedades_destacadas {

    .titulo {
        top: 20px;
        left: 20px;
    }

    .iconos {
        bottom: 20px;
        left: 20px;
        font-size: 14px;
    }

    .precio {
        font-size: 14px;
    }

    .codigo {
        font-size: 13px;
    }
    
    .carousel-item {
        border: 12px solid $azul;
        border-bottom-right-radius: 25px;
        border-top-left-radius: 25px;

        img {
            filter: brightness(0.5);
        }
    }

    .izquierda_destacadas {

        position: absolute;
        top: calc(50% - 18.5px);
        left: 20px;
    }

    .derecha_destacadas {

        position: absolute;
        top: calc(50% - 18.5px);
        right: 20px;
    }


    .imagen {
        z-index: 100;
        background-image: url(../images/imagen_20.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-position: center center;
    }

    .fondo_negro {
        z-index: 200;
        background-color: rgba(0, 0, 0, 0.473);
    }

    h2 {
        z-index: 300;
        position: relative;
    }

    .container {
        z-index: 300;
        position: relative;
    }

}


#asesores {

    .carta {
        height: 360px;
        overflow: hidden;
        border-top-left-radius: 40px;
        border-bottom-right-radius: 40px;

        .nombre_asesor {
            bottom: 0;
            background-color: $azul;
            transform: scale(1);
            transition: all 250ms;
        }

        .caja_hover {
            background-color: #25253bc7;
            border: 1px solid white;
            height: 90%;
            width: 90%;
            top: 5%;
            left: 8%;
            border-top-left-radius: 40px;
            border-bottom-right-radius: 40px;
            transform: scale(0);
            transition: all 250ms;

        }

        .caja_icono {
            background-color: transparent;
            border-radius: 50%;
            border: 1px solid white;
            height: 45px;
            width: 45px;
            color: $blanco;

            &:hover {
                color: $magenta;
                background-color: white;
            }
        }

        &:hover {

            .nombre_asesor {
                transform: scale(0);
            }

            .caja_hover {
                transform: scale(1);
            }

        }
    }

    
}

#nova_transaccional {

    background: url(../images/imagen_11.jpg) center center;
    background-attachment: fixed;
    background-size: cover;
    background-position-y: -30em;

    .fondo_negro {
        z-index: 100;
        background-color: rgba(0, 0, 0, 0.473);
        top: 0;
    }
    
    .container {
        z-index: 200;

        a{

            img {
                width: 200px;
                border: 1px solid $azul;
                border-top-left-radius: 45px;
                border-bottom-right-radius: 45px;
            }
    
            &:hover {
                
                .boton1 {
                    background-color: $magenta;
                }
            }

        }

    

        
    }

}

#slide_imagenes {

    .carousel-inner {
        height: 450px!important;
    }

    .carousel-item {
        img {
            border-top-left-radius: 50px;
            border-bottom-right-radius: 50px;
        }
    }

    .izquierda_imagenes {

        position: absolute;
        top: calc(50% - 18.5px);
        left: 20px;
    }

    .derecha_imagenes {
        position: absolute;
        top: calc(50% - 18.5px);
        right: 20px;
    }


}

#banner_estadisticas {

    .imagen {
        background: url(../images/imagen_10.jpg) center center;
        background-attachment: fixed;
        top: 0;
    }

    .fondo_negro {
        background-color: rgba(0,0,0,.5);
        top: 0;
    }

    .contenido_cards {

        opacity: 0;
        position: relative;

        .caja_icono {
            padding: 20px;
            border-radius: 50%;
            background-color: white;
            transition: all 250ms;
            height: 70px;
            width: 70px;

            
            .icono {
                font-size: 22px;
                transition: all 250ms;
            }

            &:hover {

                background-color: $azul;

                .icono {
                    color: $blanco;
                }

            }
        }

    }

    @keyframes animacion1 {
        from {
            opacity: 0;
            left: -50%;
        }

        to {
            opacity: 1;
            left: 0;
        }
    }

    @keyframes animacion2 {
        from {
            transform: scale(0);
            opacity: 0;
        }

        to {
            transform: scale(1);
            opacity: 1;
        }
    }

    @keyframes animacion3 {
        from {
            transform: scale(0);
            opacity: 0;
        }

        to {
            transform: scale(1);
            opacity: 1;
        }
    }

    @keyframes animacion4 {
        from {
            opacity: 0;
            right: -50%;
        }

        to {
            opacity: 1;
            right: 0;
        }
    }

}

#ultimas_noticias {

    .card {

        transition: all 300ms;
        border-top-left-radius: 50px;

        .imagen {
        overflow: hidden;
        border-top-left-radius: 50px;
        border-bottom-right-radius: 50px;

        

            img {
                transition: all 300ms;
            }
        }

        .descripcion {
            max-height: 71px;
            overflow: hidden;
        }
        
        
        &:hover {

            box-shadow: 0 6px 8px 1px gray;

            img {
                transform: scale(1.2);
            }
        }

    }

}

footer {

    background: url(../images/imagen_8.jpg) center center;
    background-attachment: fixed;

    .caja_negra {
        background-color: rgba(0,0,0,.5);
        top: 0;
        left: 0;
    }

    .rounded {
        background-color: #1face185;

        a {

            color: white;
            &:hover {
                color: $magenta
            }
        }

        .imagen_logo {
            height: 115px;
            width: 220px;
        }
    }

    .horario {
        background-color: transparent;
    }

    .icono {
        font-size: 22px;
    }

    #copy {

        a{

            color: black;

            &:hover {
                color: $azul;
            }
        }
    }

}

.subir {
    // COLOR DE FONDO
    background-color: $azul;
    // COLOR DE FONDO

    // COLOR DEL ICONO
    color: white;
    // COLOR DEL ICONO

    display: none;
    transition: all 200ms ease-in-out;
    padding: 5px;
    font-size: 40px;
    cursor: pointer;
    position: fixed;
    bottom: 47px;
    width: 50px!important;
    height: 50px!important;
    border-radius: 25px;
    right: 20px;
    -webkit-box-shadow: -1px 1px 5px 1px grey;
    box-shadow: -1px 1px 5px 1px grey;
    z-index: 1000;
    overflow: hidden;

    .icono {
        // TIEMPO DE TRANSICION DEL ICONO
        transition: all 250ms;
       // TIEMPO DE TRANSICION DEL ICONO
        left: 0;
        top: 0;
    }

    .efecto {
        border-radius: 25px;
        background-color: white;
        opacity: 0;
        // TIEMPO DE TRANSICION DEL FONDO
        transition: all 250ms;
        // TIEMPO DE TRANSICION DEL FONDO
        top: 0;
        left: 0;
        transform: scale(0);

    }

    &:hover {

        .efecto {
            // COLOR DE FONDO CON HOVER
            background-color: white;
            // COLOR DE FONDO CON HOVER
            height: 58px;
            padding: 33px;
            opacity: 1;
            transform: scale(2);
        }

       
    .icono {
            // COLOR DEL ICONO CON HOVER
            color: $magenta;
            // COLOR DEL ICONO CON HOVER
            animation: icono 300ms ease-in-out;
        }

        @keyframes icono {
            0% {
                filter: none;
            }

            50% {
                filter: blur(10px);
            }

            100% {
                filter: none;
            }

        }
    
        
    }
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
  }




