#banner {

    height: 250px;

    .imagen_nosotros {

        background: url(../images/slide_1.jpg) center center;
        background-attachment: fixed;

    }

    .imagen_servicios {

        background: url(../images/slide_2.jpg) center center;
        background-attachment: fixed;

    }

    .imagen {

        background: url(../images/slide_1.jpg) center center;
        background-attachment: fixed;

    }

    .imagen {

        background: url(../images/slide_1.jpg) center center;
        background-attachment: fixed;

    }

    .imagen {

        background: url(../images/slide_1.jpg) center center;
        background-attachment: fixed;

    }

    .fondo_negro {

        background-color: rgba(0,0,0,.5);

    }

}

#mision_vision {


    .carta {
        border-bottom-right-radius: 25px;
        border-top-left-radius: 25px;
        border: 1px solid gray;

        .caja_icono {

            background: linear-gradient($azul, $magenta);
            height: 70px;
            width: 70px;
            border-radius: 50%;
            font-size: 25px;
        }


    }


}

#buscas_inmueble {

    background-color: $azul;


}

#valores {

    opacity: 0;
    margin-top: 8rem;

    .imagen {

        width: 700px;
        height: 325px;
        bottom: -12px;
    }

    .circulo {

        border: 5px dotted gray;
        border-radius: 50%;
        height: 500px;
        width: 45%;

        .caja_icono1 {
            bottom: 70%;
            left: -95px;
           

            .caja {
                width: 70px;
                height: 70px;
                z-index: 500;
                font-size: 33px;
                border-radius: 50%;
                border:  3px solid $azul;
                background-color: white;
                transition: all 250ms;

                .icono {
                    transition: all 250ms;
    
                }
    
                &:hover {
    
                    background-color: $azul;
                    border:  3px solid $blanco;
                    box-shadow: 0 0 8px 1px gray;
                    .icono {
                        color: white;
                    }
                }
            }

            
            
        }

        .caja_icono2 {
            bottom: 29%;
            left: -127px;
           

            .caja {
                width: 70px;
                height: 70px;
                z-index: 500;
                font-size: 33px;
                border-radius: 50%;
                border:  3px solid $azul;
                background-color: white;
                transition: all 250ms;

                .icono {
                    transition: all 250ms;
    
                }
    
                &:hover {
    
                    background-color: $azul;
                    border:  3px solid $blanco;
                    box-shadow: 0 0 8px 1px gray;
                    .icono {
                        color: white;
                    }
                }
            }

            
            
        }

        .caja_icono3 {
            top: -65px;
            left: calc(50% - 67px);
           

            .caja {
                width: 70px;
                height: 70px;
                z-index: 500;
                font-size: 33px;
                border-radius: 50%;
                border:  3px solid $azul;
                background-color: white;
                transition: all 250ms;

                .icono {
                    transition: all 250ms;
    
                }
    
                &:hover {
    
                    background-color: $azul;
                    border:  3px solid $blanco;
                    box-shadow: 0 0 8px 1px gray;
                    .icono {
                        color: white;
                    }
                }
            }

            
            
        }

        .caja_icono4 {
            bottom: 70%;
            right: -198px;
           

            .caja {
                width: 70px;
                height: 70px;
                z-index: 500;
                font-size: 33px;
                border-radius: 50%;
                border:  3px solid $azul;
                background-color: white;
                transition: all 250ms;

                .icono {
                    transition: all 250ms;
    
                }
    
                &:hover {
    
                    background-color: $azul;
                    border:  3px solid $blanco;
                    box-shadow: 0 0 8px 1px gray;
                    .icono {
                        color: white;
                    }
                }
            }

            
            
        }

        .caja_icono5 {
            bottom: 29%;
            right: -170px;
           

            .caja {
                width: 70px;
                height: 70px;
                z-index: 500;
                font-size: 33px;
                border-radius: 50%;
                border:  3px solid $azul;
                background-color: white;
                transition: all 250ms;

                .icono {
                    transition: all 250ms;
    
                }
    
                &:hover {
    
                    background-color: $azul;
                    border:  3px solid $blanco;
                    box-shadow: 0 0 8px 1px gray;
                    .icono {
                        color: white;
                    }
                }
            }

            
            
        }

    }

    @keyframes animacion_valores {
        from {
            top: 650px;
            opacity: 0;
        }

        to {
            top: 0;
            opacity: 1;
        }
    }

    @keyframes animacion_texto_valores {
        from {
            left: -100%;
            opacity: 0;
        }

        to {
            left: 0;
            opacity: 1;
        }
    }

}

#texto_valores {
    position: relative;
    opacity: 0;
}

#aliados {

    .imagen {
        width: 170px;
        height: 127px;
        background: url('../images/slide_1.jpg') center center;
        background-attachment: fixed;
    }

    .fondo_negro {
        background-color: rgba(0,0,0,.5);
    }

    .carousel {
        height: 200px;
    }

    .libertador {
        height: 55%;
        width: 90%;
    }


    .caja_imagen {
        border-top-left-radius: 25px;
        border-bottom-right-radius: 25px;
        border: 5px solid $azul;
        background-color: white;
        height: 130px;

        .bordes {

            width: 85%;
    
        }
    }

    .izquierda_aliados {
        position: absolute;
        left: -40px; 
        top: calc(50% - 19px);
    }

    .derecha_aliados {
        position: absolute;
        right: -40px; 
        top: calc(50% - 19px);
    }

}